<h1 class="page-header">Contact Us</h1>
<%= form_for(@contact, url: contact_path) do |f| %> 
<div class="control-group">
<%= f.text_field(:name, placeholder: 'Name') %>
</div>
<div class="control-group">
<%= f.email_field(:email, placeholder: 'Email') %>
</div>
<div class="control-group">
<%= f.text_area(:question, placeholder: 'Question') %>
</div>
<div class="control-group">
<%= f.submit('Say Hi') %>
</div>
<% end %>

